<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Helga Thorvaldsdottir</string>
	<key>Phones</key>
	<array>
		<string>781-861-1565</string>
		<string>781-775-3708</string>
	</array>
</dict>
</plist>
